<div class="container">
	<div class="row">
		<h2>Boîte de réception</h2>
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-2">

			<table class="table table-striped">
				
				<tr>
					<th>Objet du mail</th>
				</tr>
				
				<% @email_all.each do |email| %>
				<tr>
					<!-- affiche les objects des emails -->
					<td id="object_<%= email.id %>" class="read"><%= link_to email.object, email_path(email), remote: true %></td>
				</tr>
				<% end %>

			</table>

		</div>

		<div class="col-lg-6">

			<table class="table table-striped">
				
				<tr>
					<th>Contenu</th>
				</tr>

					<table>
						<div id="content" style="display: none;">
						<% @email_all.each do |email| %>
							<span><strong id="object"><%= email.object %></strong></span>
							<p id="body"><%= email.body %></p>
						<% end %>
						</div>
					</table>

			</table>

		</div>

	</div> <!-- end row -->
</div> <!-- end container -->
